/**
 * Foundation
 * ========================== */
/*! destyle.css v2.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

button[disabled],
[type=button][disabled],
[type=reset][disabled],
[type=submit][disabled] {
  cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove arrow in IE10 & IE11
 */
select::-ms-expand {
  display: none;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable] {
  outline: none;
}

/* Table */
/* ============================================ */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Misc */
/* ============================================ */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: #333;
}

img {
  width: 100%;
  height: auto;
}

/**
 * Layout
 * ========================== */
.l-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.l-header {
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
}

@media screen and (min-width: 768px) {
  .l-header {
    height: 104px;
  }
}
/**
 * object
 * ========================== */
/* Component ------------ */
.c-button {
  display: inline-block;
  cursor: pointer;
}

.c-flex {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -16px;
}
.c-flex--col-center {
  justify-content: center;
}
.c-flex--col-space-between {
  justify-content: space-between;
}
.c-flex--row-center {
  align-items: center;
}
.c-flex--reverse {
  flex-direction: row-reverse;
}
.c-flex__item {
  padding: 16px;
}
.c-flex__item-1 {
  width: calc(100% * 1 / 12);
}
@media screen and (max-width: 767px) {
  .c-flex__item-sm-1 {
    width: calc(100% * 1 / 12);
  }
}
@media screen and (min-width: 768px) {
  .c-flex__item-lg-1 {
    width: calc(100% * 1 / 12);
  }
}
.c-flex__item-2 {
  width: calc(100% * 2 / 12);
}
@media screen and (max-width: 767px) {
  .c-flex__item-sm-2 {
    width: calc(100% * 2 / 12);
  }
}
@media screen and (min-width: 768px) {
  .c-flex__item-lg-2 {
    width: calc(100% * 2 / 12);
  }
}
.c-flex__item-3 {
  width: calc(100% * 3 / 12);
}
@media screen and (max-width: 767px) {
  .c-flex__item-sm-3 {
    width: calc(100% * 3 / 12);
  }
}
@media screen and (min-width: 768px) {
  .c-flex__item-lg-3 {
    width: calc(100% * 3 / 12);
  }
}
.c-flex__item-4 {
  width: calc(100% * 4 / 12);
}
@media screen and (max-width: 767px) {
  .c-flex__item-sm-4 {
    width: calc(100% * 4 / 12);
  }
}
@media screen and (min-width: 768px) {
  .c-flex__item-lg-4 {
    width: calc(100% * 4 / 12);
  }
}
.c-flex__item-5 {
  width: calc(100% * 5 / 12);
}
@media screen and (max-width: 767px) {
  .c-flex__item-sm-5 {
    width: calc(100% * 5 / 12);
  }
}
@media screen and (min-width: 768px) {
  .c-flex__item-lg-5 {
    width: calc(100% * 5 / 12);
  }
}
.c-flex__item-6 {
  width: calc(100% * 6 / 12);
}
@media screen and (max-width: 767px) {
  .c-flex__item-sm-6 {
    width: calc(100% * 6 / 12);
  }
}
@media screen and (min-width: 768px) {
  .c-flex__item-lg-6 {
    width: calc(100% * 6 / 12);
  }
}
.c-flex__item-7 {
  width: calc(100% * 7 / 12);
}
@media screen and (max-width: 767px) {
  .c-flex__item-sm-7 {
    width: calc(100% * 7 / 12);
  }
}
@media screen and (min-width: 768px) {
  .c-flex__item-lg-7 {
    width: calc(100% * 7 / 12);
  }
}
.c-flex__item-8 {
  width: calc(100% * 8 / 12);
}
@media screen and (max-width: 767px) {
  .c-flex__item-sm-8 {
    width: calc(100% * 8 / 12);
  }
}
@media screen and (min-width: 768px) {
  .c-flex__item-lg-8 {
    width: calc(100% * 8 / 12);
  }
}
.c-flex__item-9 {
  width: calc(100% * 9 / 12);
}
@media screen and (max-width: 767px) {
  .c-flex__item-sm-9 {
    width: calc(100% * 9 / 12);
  }
}
@media screen and (min-width: 768px) {
  .c-flex__item-lg-9 {
    width: calc(100% * 9 / 12);
  }
}
.c-flex__item-10 {
  width: calc(100% * 10 / 12);
}
@media screen and (max-width: 767px) {
  .c-flex__item-sm-10 {
    width: calc(100% * 10 / 12);
  }
}
@media screen and (min-width: 768px) {
  .c-flex__item-lg-10 {
    width: calc(100% * 10 / 12);
  }
}
.c-flex__item-11 {
  width: calc(100% * 11 / 12);
}
@media screen and (max-width: 767px) {
  .c-flex__item-sm-11 {
    width: calc(100% * 11 / 12);
  }
}
@media screen and (min-width: 768px) {
  .c-flex__item-lg-11 {
    width: calc(100% * 11 / 12);
  }
}
.c-flex__item-12 {
  width: calc(100% * 12 / 12);
}
@media screen and (max-width: 767px) {
  .c-flex__item-sm-12 {
    width: calc(100% * 12 / 12);
  }
}
@media screen and (min-width: 768px) {
  .c-flex__item-lg-12 {
    width: calc(100% * 12 / 12);
  }
}

/* Project ------------ */
.p-accordion {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.p-accordion__toggle {
  position: relative;
  display: block;
  padding: 16px;
  cursor: pointer;
}
.p-accordion__toggle:hover {
  color: rgba(229, 229, 229, 0.965);
}
.p-accordion__toggle .fas {
  position: absolute;
  right: 16px;
  top: 30%;
  font-size: 2.4rem;
  transition: 0.3s ease-in-out;
}
.p-accordion__body {
  overflow: hidden;
  transition: 0.3s ease-in-out;
}
.p-accordion__body-inner {
  padding: 16px;
}

.rotation-enter,
.rotation-leave-to {
  transform: rotateX(180deg);
}

.p-button {
  position: relative;
  display: inline-block;
  padding: 1rem 3rem;
  cursor: pointer;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 0.2rem;
  border-radius: 100vh;
  color: #fff;
  border: 0.2rem solid #fff;
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
  box-shadow: 0 0.8rem 1.6rem rgba(0, 0, 0, 0.3);
}

.p-button:hover,
.p-button:focus {
  transform: translate(0, 4px);
  box-shadow: 0 0.6rem 1.2rem rgba(0, 0, 0, 0.2);
}

.p-button:active {
  transform: translate(0, 4px);
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
}

.p-footer {
  color: #fff;
  background-color: #333;
}
.p-footer__inner {
  max-width: 960px;
  width: 100%;
  height: 100%;
  padding: 0 16px 16px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.p-footer__nav {
  text-align: center;
  background-color: #ccc;
}
.p-footer__nav-item {
  padding: 16px;
  font-size: 1.6rem;
  border: 1px solid #ddd;
  letter-spacing: 0.3rem;
}
.p-footer__logo {
  margin-top: 16px;
  height: 160px;
}
.p-footer__copyright {
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .p-footer__nav {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 16px;
  }
  .p-footer__nav-item {
    font-size: 1.6rem;
    position: relative;
    border: none;
  }
  .p-footer__nav-item:not(:last-child)::after {
    content: "";
    display: block;
    position: absolute;
    top: 12px;
    right: 0px;
    width: 2px;
    height: 24px;
    background: #bb9d59;
    transform: rotateZ(45deg);
  }
  .p-footer__nav-link::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #bb9d59;
    transition: transform 300ms;
    transform: scaleX(0);
  }
  .p-footer__nav-link:hover::after {
    transform: scaleX(1);
  }
  .p-footer__logo {
    margin-top: 0;
  }
  .p-footer__logo :hover {
    opacity: 0.9;
    transition: all 1s ease;
  }
  .p-footer__copyright {
    margin-top: 32px;
  }
}
.p-gallery {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
}
.p-gallery__item {
  filter: grayscale(100%);
  transition: 0.3s;
}
.p-gallery__item:hover {
  filter: grayscale(0);
  transform: scale(1.1);
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.5);
}

.p-hamburger {
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 4px solid #f9d8ae;
  transition: all 0.3s ease-in-out;
  z-index: 20;
}
.p-hamburger:hover, .p-hamburger:focus {
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
}
.p-hamburger__line {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 20px;
  height: 4px;
  background-color: #f9d8ae;
  transition: inherit;
}
.p-hamburger__line::before, .p-hamburger__line::after {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: inherit;
  content: "";
  transition: inherit;
}
.p-hamburger__line::before {
  top: -6px;
}
.p-hamburger__line::after {
  top: 6px;
}
.p-hamburger[aria-expanded=true] .p-hamburger__line {
  background-color: transparent;
}
.p-hamburger[aria-expanded=true] .p-hamburger__line::before, .p-hamburger[aria-expanded=true] .p-hamburger__line::after {
  top: 0;
  background-color: #f9d8ae;
}
.p-hamburger[aria-expanded=true] .p-hamburger__line::before {
  transform: rotate(45deg);
}
.p-hamburger[aria-expanded=true] .p-hamburger__line::after {
  transform: rotate(-45deg);
}

@media screen and (min-width: 768px) {
  .p-hamburger {
    display: none;
  }
}
.p-header {
  height: 100%;
  box-shadow: 0 4px 8px rgba(51, 51, 51, 0.8);
  background-color: #333;
}
.p-header__inner {
  max-width: 960px;
  width: 100%;
  height: 100%;
  padding: 16px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.p-header__logo {
  height: 48px;
}
.p-header__nav {
  height: 100%;
}

@media screen and (min-width: 768px) {
  .p-header__logo :hover {
    opacity: 0.9;
    transition: all 1s ease;
  }
}
.p-heading {
  font-size: 2.4rem;
  position: relative;
  padding: 16px 8px;
  text-align: center;
  max-width: 320px;
  margin: 0 auto;
}
.p-heading::before, .p-heading::after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  content: "";
  background-image: linear-gradient(to left, #30cfd0 0%, #330867 100%);
}
.p-heading::before {
  top: 0;
}
.p-heading::after {
  bottom: 0;
}

.p-hero {
  position: relative;
}
.p-hero__filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 768px;
  height: 80%;
  max-height: 432px;
}
.p-hero__title {
  font-size: 3.2rem;
}
.p-hero__subtitle {
  margin-top: 16px;
  font-size: 1.6rem;
}

@media screen and (min-width: 768px) {
  .p-hero__title {
    font-size: 6.4rem;
  }
  .p-hero__subtitle {
    margin-top: 32px;
    font-size: 3.2rem;
  }
}
.p-logo {
  height: 100%;
  width: auto;
}

.p-modal {
  z-index: 100;
  position: fixed;
  display: flex;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.p-modal__box {
  position: relative;
  cursor: default;
  width: 80%;
  max-width: 768px;
  height: auto;
  max-height: 576px;
}

.p-modal__image {
  border: 3px solid #fff;
}

.p-modal__button {
  position: absolute;
  top: -24px;
  right: -24px;
  background: #DDD;
  color: #fff;
  border-radius: 50%;
  font-size: 20px;
  border: 4px solid #fff;
  width: 48px;
  height: 48px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-modal__button:hover,
.p-modal__button:focus,
.p-modal__button:active {
  border-color: #fff;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.slide-enter-active,
.slide-leave-active {
  transition: top 0.5s ease;
  top: 0;
}

.slide-enter {
  top: -100px;
}

.slide-leave-to {
  top: 300px;
}

.p-nav {
  transition: all 0.3s ease-in-out;
  z-index: 10;
  position: fixed;
  top: -100%;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333;
}
.p-nav--open {
  top: 0;
}
.p-nav__item {
  font-size: 3.2rem;
  padding: 32px;
  letter-spacing: 0.3rem;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .p-nav {
    transition: all 0s 0s ease;
    z-index: 0;
    position: static;
    top: auto;
    left: auto;
    flex-direction: row;
    background-color: transparent;
  }
  .p-nav__item {
    font-size: 1.6rem;
    padding: 16px;
    letter-spacing: 0.3rem;
    position: relative;
  }
  .p-nav__item:not(:last-child)::after {
    content: "";
    display: block;
    position: absolute;
    top: 12px;
    right: 0px;
    width: 2px;
    height: 24px;
    background: #bb9d59;
    transform: rotateZ(45deg);
  }
  .p-nav__link::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #bb9d59;
    transition: transform 300ms;
    transform: scaleX(0);
  }
  .p-nav__link:hover::after {
    transform: scaleX(1);
  }
}
/* Project ------------ */
.VueCarousel {
  width: 75%;
  max-width: 960px;
}
.VueCarousel-navigation-button {
  font-size: 32px;
  outline: none !important;
}
.VueCarousel-dot-container {
  margin-top: 16px !important;
}
.VueCarousel-dot {
  width: 16px !important;
  height: 16px !important;
  padding: 0px !important;
  margin: 0px 8px !important;
  box-sizing: border-box !important;
  border: 2px solid red !important;
  outline: none !important;
}
.VueCarousel-dot--active {
  background-color: red !important;
}

.v-slide {
  width: 100%;
  background-color: #62caaa;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border: 2px solid #fff;
  font-size: 30px;
  border-radius: 10px;
}
.v-slide__image {
  width: 100%;
  height: auto;
}

/* Utility ------------ */
.u-mt-0 {
  margin-top: 0px !important;
}
.u-mr-0 {
  margin-right: 0px !important;
}
.u-mb-0 {
  margin-bottom: 0px !important;
}
.u-ml-0 {
  margin-left: 0px !important;
}
.u-mt-8 {
  margin-top: 8px !important;
}
.u-mr-8 {
  margin-right: 8px !important;
}
.u-mb-8 {
  margin-bottom: 8px !important;
}
.u-ml-8 {
  margin-left: 8px !important;
}
.u-mt-16 {
  margin-top: 16px !important;
}
.u-mr-16 {
  margin-right: 16px !important;
}
.u-mb-16 {
  margin-bottom: 16px !important;
}
.u-ml-16 {
  margin-left: 16px !important;
}
.u-mt-24 {
  margin-top: 24px !important;
}
.u-mr-24 {
  margin-right: 24px !important;
}
.u-mb-24 {
  margin-bottom: 24px !important;
}
.u-ml-24 {
  margin-left: 24px !important;
}
.u-mt-32 {
  margin-top: 32px !important;
}
.u-mr-32 {
  margin-right: 32px !important;
}
.u-mb-32 {
  margin-bottom: 32px !important;
}
.u-ml-32 {
  margin-left: 32px !important;
}
.u-mt-40 {
  margin-top: 40px !important;
}
.u-mr-40 {
  margin-right: 40px !important;
}
.u-mb-40 {
  margin-bottom: 40px !important;
}
.u-ml-40 {
  margin-left: 40px !important;
}
.u-mt-48 {
  margin-top: 48px !important;
}
.u-mr-48 {
  margin-right: 48px !important;
}
.u-mb-48 {
  margin-bottom: 48px !important;
}
.u-ml-48 {
  margin-left: 48px !important;
}
.u-mt-56 {
  margin-top: 56px !important;
}
.u-mr-56 {
  margin-right: 56px !important;
}
.u-mb-56 {
  margin-bottom: 56px !important;
}
.u-ml-56 {
  margin-left: 56px !important;
}
.u-mt-64 {
  margin-top: 64px !important;
}
.u-mr-64 {
  margin-right: 64px !important;
}
.u-mb-64 {
  margin-bottom: 64px !important;
}
.u-ml-64 {
  margin-left: 64px !important;
}
.u-mt-72 {
  margin-top: 72px !important;
}
.u-mr-72 {
  margin-right: 72px !important;
}
.u-mb-72 {
  margin-bottom: 72px !important;
}
.u-ml-72 {
  margin-left: 72px !important;
}
.u-mt-80 {
  margin-top: 80px !important;
}
.u-mr-80 {
  margin-right: 80px !important;
}
.u-mb-80 {
  margin-bottom: 80px !important;
}
.u-ml-80 {
  margin-left: 80px !important;
}

.u-pt-0 {
  padding-top: 0px !important;
}
.u-pr-0 {
  padding-right: 0px !important;
}
.u-pb-0 {
  padding-bottom: 0px !important;
}
.u-pl-0 {
  padding-left: 0px !important;
}
.u-pt-8 {
  padding-top: 8px !important;
}
.u-pr-8 {
  padding-right: 8px !important;
}
.u-pb-8 {
  padding-bottom: 8px !important;
}
.u-pl-8 {
  padding-left: 8px !important;
}
.u-pt-16 {
  padding-top: 16px !important;
}
.u-pr-16 {
  padding-right: 16px !important;
}
.u-pb-16 {
  padding-bottom: 16px !important;
}
.u-pl-16 {
  padding-left: 16px !important;
}
.u-pt-24 {
  padding-top: 24px !important;
}
.u-pr-24 {
  padding-right: 24px !important;
}
.u-pb-24 {
  padding-bottom: 24px !important;
}
.u-pl-24 {
  padding-left: 24px !important;
}
.u-pt-32 {
  padding-top: 32px !important;
}
.u-pr-32 {
  padding-right: 32px !important;
}
.u-pb-32 {
  padding-bottom: 32px !important;
}
.u-pl-32 {
  padding-left: 32px !important;
}
.u-pt-40 {
  padding-top: 40px !important;
}
.u-pr-40 {
  padding-right: 40px !important;
}
.u-pb-40 {
  padding-bottom: 40px !important;
}
.u-pl-40 {
  padding-left: 40px !important;
}
.u-pt-48 {
  padding-top: 48px !important;
}
.u-pr-48 {
  padding-right: 48px !important;
}
.u-pb-48 {
  padding-bottom: 48px !important;
}
.u-pl-48 {
  padding-left: 48px !important;
}
.u-pt-56 {
  padding-top: 56px !important;
}
.u-pr-56 {
  padding-right: 56px !important;
}
.u-pb-56 {
  padding-bottom: 56px !important;
}
.u-pl-56 {
  padding-left: 56px !important;
}
.u-pt-64 {
  padding-top: 64px !important;
}
.u-pr-64 {
  padding-right: 64px !important;
}
.u-pb-64 {
  padding-bottom: 64px !important;
}
.u-pl-64 {
  padding-left: 64px !important;
}
.u-pt-72 {
  padding-top: 72px !important;
}
.u-pr-72 {
  padding-right: 72px !important;
}
.u-pb-72 {
  padding-bottom: 72px !important;
}
.u-pl-72 {
  padding-left: 72px !important;
}
.u-pt-80 {
  padding-top: 80px !important;
}
.u-pr-80 {
  padding-right: 80px !important;
}
.u-pb-80 {
  padding-bottom: 80px !important;
}
.u-pl-80 {
  padding-left: 80px !important;
}

.u-text-center {
  text-align: center;
}
.u-text-left {
  text-align: left;
}
.u-text-right {
  text-align: right;
}
